@tailwind base;
@tailwind components;
@tailwind utilities;

.app-header{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.lista-input{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.lista-input input{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61dafb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;  
}

.lista-items{
  list-style: none;
  padding: 0;
}

.lista-items li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  background-color: #333;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  min-width: 200px; /* Set a minimum width for the list items */
}

.lista-items li button{
  background-color: #ff6c6c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}